/* LAYOUT */

.home-layout {

  width: 100%;

  max-width: 1150px;

  margin: auto;

  display: grid;

  grid-template-columns:
    1fr 1fr;

  gap: 22px;

  align-items: start;

  padding: 14px;
}

/* COLUMNS */

.home-left,
.home-right {

  min-width: 0;

  width: 100%;
}

/* MOBILE */

@media (max-width: 900px) {

  .home-layout {

    grid-template-columns: 1fr;

    gap: 14px;

    padding: 10px;
  }

  .home-left,
  .home-right {

    width: 100%;
  }
}